@model List<Model.Models.AppUser>

@{
    
    ViewData["Title"] = "UsersIndex";
    Layout = "~/Views/_Layout.cshtml";
    var onlineUsers = DamaWeb.Tools.OnlineUsers.Users;
    var userid = Convert.ToInt32(User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value);
}
@section CSS{
    <link href="~/dataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/dataTables/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/toastr.min.css" rel="stylesheet" />
}

<div id="placeholder"></div>


<section class="content">
    <form class="form-inline ml-3" asp-action="Search" asp-controller="Users">
        <div class="input-group input-group-sm">
            <input name="name" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        if (item.Id == userid) continue;
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    @item.UserName
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.Name</b></h2>
                                            <p class="text-muted text-sm">@item.Email</p>
                                                @if (onlineUsers!.Any(x => x.Id == item.Id))
                                                {
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-success">0</span> online
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="text-muted text-sm">
                                                    <span class="badge badge-danger">x</span>ofline
                                                </p>
                                            }


                                            </div>
                                            <div class="col-5 text-center">
                                                @if (item.ProfilPicture != null)
                                                {
                                                    <img src="/img/profil/orginal/@item.ProfilPicture" alt="" class="img-circle img-fluid">
                                                }
                                                else
                                                {
                                                    <img class="img-circle img-fluid" src="~/dist/img/avatar5.png" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <button type="button" class="btn btn-primary" data-toggle="ajax-game-request" data-url="/Users/RequestGame/@item.Id">
                                                Request
                                            </button>
                                            <button type="button" onclick="addChat(@item.Id)" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
                                                Mesage
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
            </div>
        </div>
        <div class="modal fade" id="modal-danger">
            <div class="modal-dialog">
                <div class="modal-content bg-danger">
                    <div class="modal-header">
                        <h4 class="modal-title">Message</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input id="chatmsg" />
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                        <button type="button" onclick="SendMsg()" class="btn btn-outline-light" data-dismiss="modal">Send</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</section>
@section Script{
    <script src="~/dataTables/jquery/jquery.dataTables.min.js"></script>
    <script src="~/dataTables/jquery/dataTables.bootstrap4.min.js"></script>
    <script src="~/dataTables/jquery/dataTables.responsive.min.js"></script>
    <script src="~/bootstrap/alertjs/toastr.min.js"></script>
    <script src="~/customerJS/modal.js"></script>
    <script>
        $(document).ready(function () {
            //Initialize Select2 Elements
            $("#AllUsers").DataTable({
                "responsive": true,
                "autoWidth": false,
                searching: false
            });
            $("#OnlineUsers").DataTable({
                "responsive": true,
                "autoWidth": false,
                searching: false
            });
        })
        var reciveid
        function addChat(senderid) {
            reciveid = senderid


        }
        function SendMsg() {
            msg = $("#chatmsg").val();
            $("#chatmsg").val("");
            $.ajax({
                url: "/Chat/SendMesage",
                data: {
                    recveid: reciveid,
                    message: msg
                },
                method: "post",
                success: function () {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "100",
                        "hideDuration": "1000",
                        "timeOut": "2000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "show",
                        "hideMethod": "hide"
                    };
                    toastr.success(msg + " mesaji ugurla gonderildi");
                },
            });
        }
    </script>
}
