@model List<Model.Models.AppUser>

@{
    ViewData["Title"] = "UsersIndex";
    Layout = "~/Views/_Layout.cshtml";
    var onlineUsers = DamaWeb.Tools.OnlineUsers.Users;
    var userid = Convert.ToInt32(User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value);
}
@section CSS{
    <link href="~/dataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/dataTables/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/bootstrap/css/toastr.min.css" rel="stylesheet" />
}

<div id="placeholder"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-primary">
                <div class="card-header">
                    Online Users
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="OnlineUsers" class="table table-striped table-valign-middle">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Request Game</th>
                                <th>Direct Chat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (onlineUsers != null)
                            {
                                @foreach (var item in onlineUsers)
                                {
                                    if (item.Id == userid) continue;
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="ajax-game-request" data-url="/Users/RequestGame/@item.Id">
                                                Game Request
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" onclick="addChat(@item.Id)" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
                                                Mesage
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-primary">
                <div class="card-header">
                    Random Users
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="AllUsers" class="table table-striped table-valign-middle">
                        <thead>
                            <tr>
                                <th>Online</th>
                                <th>Name</th>
                                <th>Request Game</th>
                                <th>Direct Chat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model?.Count > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    if (item.Id == userid) continue;
                                    <tr>
                                        <td>
                                            @if (onlineUsers != null)
                                            {
                                                @if (onlineUsers.Any(x => x.Id == item.Id))
                                                {


                                                    <span class="badge badge-success">0</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">c</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="ajax-game-request" data-url="/Users/RequestGame/@item.Id">
                                                Request
                                            </button>
                                        </td>
                                        <td>
                                            
                                            <button type="button" onclick="addChat(@item.Id)" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
                                                Mesage
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="chatmsg" />
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                <button type="button" onclick="SendMsg()" class="btn btn-outline-light" data-dismiss="modal">Send</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Script{
    <script src="~/dataTables/jquery/jquery.dataTables.min.js"></script>
    <script src="~/dataTables/jquery/dataTables.bootstrap4.min.js"></script>
    <script src="~/dataTables/jquery/dataTables.responsive.min.js"></script>
    <script src="~/bootstrap/alertjs/toastr.min.js"></script>
    <script src="~/customerJS/modal.js"></script>
    <script>
        $(document).ready(function () {
            //Initialize Select2 Elements
            $("#AllUsers").DataTable({
                "responsive": true,
                "autoWidth": false,
                searching: false
            });
            $("#OnlineUsers").DataTable({
                "responsive": true,
                "autoWidth": false,
                searching: false
            });
        })
        var reciveid
        function addChat(senderid) {
            reciveid = senderid
           
            
        }
        function SendMsg() {
            msg = $("#chatmsg").val();
            $("#chatmsg").val("");
            $.ajax({
                url: "/Chat/SendMesage",
                data: {
                    recveid: reciveid,
                    message: msg
                },
                method: "post",
                success: function () {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "100",
                        "hideDuration": "1000",
                        "timeOut": "2000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "show",
                        "hideMethod": "hide"
                    };
                    toastr.success(msg + " mesaji ugurla gonderildi");
                },
            });
        }
    </script>
}