@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
@section CSS{
    
}

<div class="text-center">
    <h1 class="display-4">@localizer["XosGeldiz"]</h1>
</div>

@section Script{
    
}

