
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<a href="https://api.whatsapp.com/send?phone=994707136577&text=Hello">Whatsapp elaqe</a>

<textarea name="editor1"></textarea>

@section Script{
    <script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('editor1');
    </script>
}
