<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Font Awesome Icons -->
    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    @RenderSection("CSS", required: false)
</head>

<body class="hold-transition layout-fixed layout-navbar-fixed sidebar-mini  sidebar-collapse">
    <div class="wrapper">

        @await Html.PartialAsync("_Head.cshtml")
        <div class="content-wrapper">
            @RenderBody()
            <div id="chatarea" class="fixed-bottom">
            </div>
        </div>
        @await Html.PartialAsync("_Footer.cshtml")

    </div>


    <!-- jQuery -->
    <script src="~/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- onlineUser -->
    <script src="~/signalr/SignalR.js"></script>
    <script src="~/customerJS/Online.js"></script>
    <script src="~/customerJS/Notif.js"></script>
    @RenderSection("Script", required: false)

    <script src="~/jquery/jquery.cookie.min.js"></script>

    <script>
        $(document).ready(function () {
            var checkboxValue = JSON.parse(localStorage.getItem('online'));
            if (checkboxValue != null) {
                $("#online").prop('checked', checkboxValue)
            }
            var img = $.cookie('img');
            if (img != null) {
                $("#smImg").attr("src", "/img/profil/40x40/" + img)
            }


            $.ajax({
                url: "/Home/getNotifAndChatCount",
                method: "Post",
                success: function (msg) {
                    if (msg != null) {
                        console.log(msg);
                        $("#badgeNotif").text(msg.countNotif);
                        $("#badgeChat").text(msg.countChat);
                    }
                    else {
                        $("#badgeNotif").text("");
                        $("#badgeChat").text("");
                    }
                }
            });
        });
        connection.on("notifications", function () {
            var c = $("#badgeNotif").text();
            $("#badgeNotif").text(parseInt(c) + 1);
            CheckGamesDB();
        });

        function addMsg(name, msg, time) {
            var maindiv = $("<div></div>");
            maindiv.addClass('direct-chat-msg');

            var infodiv = $("<div></div>");
            infodiv.addClass('direct-chat-infos clearfix');

            var spanname = $("<span></span>");
            spanname.addClass('direct-chat-name float-left');
            spanname.text(name);

            var timee = $("<span></span>");
            timee.addClass('direct-chat-timestamp float-right');
            timee.text(time);

            var img = $('<img />', {
                src: '/dist/img/avatar5.png'
            });
            img.addClass("direct-chat-img");

            var txt = $("<div></div>");
            txt.addClass('direct-chat-text');
            txt.text(msg);

            infodiv.append(spanname);
            infodiv.append(timee);
            maindiv.append(infodiv);
            maindiv.append(img);
            maindiv.append(txt);
            return maindiv;;
        }

        connection.on("ChatNotif", function (name, senderid) {
            var actid = $("#ActiveChatId").val();
            var senderName = $("#ActiveChatName").val();
            if (senderid != actid) {
                var c = $("#badgeChat").text();
                $("#badgeChat").text(parseInt(c) + 1);
                $("#SumNoRead").text(parseInt(c) + 1);

                var mm = parseInt($("#" + name).text());
                if (isNaN(mm)) { mm = 0; }
                $("#" + name).text(mm + 1);
            } else {
                $.ajax({
                    url: "/Chat/GetLastIsNoReadMsg",
                    data: {
                        senderId: senderid
                    },
                    method: "Post",
                    success: function (msgs) {
                        //dateFormat(new Date(msg.date), "mmm dd HH:MM:ss")
                        $(msgs).each(function (i, value) {
                            var msgg = addMsg(cueUserName, value.message, dateFormat(new Date(value.date), "mmm dd HH:mm:ss"));
                            $("#chatbox").append(msgg);
                        });
                        $("#chatbox").animate({ scrollTop: $("#chatbox").prop("scrollHeight") }, 500);
                    }
                });
            }

        })

    </script>
</body>
</html>
