
body {
    width: 100%;
    height: 100%;
    margin:0;
}

.mainDiv {
    width: 100vw;
    height: 100vh;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    background-image: url('../img/wood2.jpg')
}

.boardHeader {
    display: block;
    position: absolute;
    width: 100%;
    height: 9vh;
    background-color: darkgoldenrod;
}

.boardFooter {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 9vh;
}

.btn {
    background-color: transparent;
    border: none;
    width: 18vw;
    height: 7vh;
    color: white;
    padding: 1px 1px;
    font-size: 4vmin;
    cursor: pointer;
}

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: RoyalBlue;
    }



.gameBoard {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vmin;
    top: 10vmin;
    margin: auto;
    width: 80vmin;
    height: 80vmin;
    background-image: url('../img/board.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
}

.stone {
    position: absolute;
    background-position: center;
    background-size: 100%;
    width: 12.5%;
    height: 12.5%;
    margin: 0;
}

.whiteSimpleStone {
    background-image: url('../img/stones/white.png');
}

.blackSimpleStone {
    background-image: url('../img/stones/black.png');
}

.whiteQuenStone {
    background-image: url('../img/stones/whiteDum.png');
}

.blackQuenStone {
    background-image: url('../img/stones/blackDum.png');
}

.PossiblePlace {
    position: absolute;
    background-size: 100%;
    background-image: radial-gradient( yellow, green);
    width: 12.5%;
    height: 12.5%;
    margin: 0;
}

.DumPossiblePlace {
    position: absolute;
    background-size: 100%;
    background-color: darkgoldenrod;
    width: 12.5%;
    height: 12.5%;
    margin: 0;
}

.DumElement {
    background-color: lawngreen;
}

.boardRotate {
    transform: rotate(180deg);
}
